body {
    padding-top: 50px;
}
#container {
    padding: 39px 0px;
}
.thumb-big
{
    height: 199px;
}
.movies-list
{
    text-align: center;
}
.availability
{
    padding: 9px;
    font-size: 12px;
    font-weight: 500;
    color: black;
}
.bookThumb
{
    height: 149px;
    padding-right: 21px;
}
.rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.rating li {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.rating li.filled {
  color: #fd0;
}
.rating.readonly li.filled {
  color: #666;
}

.col-md-4:nth-child(3n+1){
	clear:both;
	
}